<html>
    <head>
        <title>All shows</title>
        <style>
            table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}
        </style>
    </head>
    <body>
        <h1>All Shows</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Networks</th>
                <th>Release Date</th>
                <th>Action</th>
            </tr>
            {% for show in shows %}
             <tr>
                 <td>{{show.id}}</td>
                 <td>{{show.title}}</td>
                 <td>{{show.networks}}</td>
                 <td>{{show.date}}</td>
                 <td></td>
            </tr>
            {% endfor %}
        </table>

        <a href=""></a>
    </body>
</html>