<html>
    <head>
        <style>
            .box{
                width: 600px;
        
            }
        </style>
    </head>
    <body>
            
        <h1>{{book.title}}</h1>
        <label>ID: {{book.id}}</label><br><br>
        <label>Description:  </label>
        <div class="box">
        <p>{{book.desc}}</p>
    </div>

    <h1>Authors:</h1>
<ul>

 {% for author in book_authors %}

    <li> {{author.first_name}} {{author.last_name}}</li>
    {% endfor %}
 


</ul>
<form action="/add_author/{{book.id}}" method="POST" >
    {% csrf_token %}
    <select  name = "add_authors">
         {% for author in authors %}
        <option value= {{author.id}}>{{author.first_name}}  {{author.last_name}}</option>
        {% endfor %}
    </select>
    <input type="submit" name="submit">
</form>

    </body>
</html>